{% extends 'base.html' %}
{% block title %}Curso de Mini Pcs {% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h2>
            Curso de Mini PCS com Luciano Ramalho!
          </h2>
          <p>
            Aprenda a programar para mini pcs com uma lenda da promgramação
          </p>
          <p>
            <a class="btn btn-primary btn-large"
               href="{{ url_for('subscriptions.form') }}">Inscreva-se</a>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h2>
          Raspberry
        </h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
          tellus
          ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
          justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
          Donec sed odio dui.
        </p>
        <p>
          <a class="btn" href="#">View details »</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>
          Beaglebone
        </h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
          tellus
          ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
          justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
          Donec sed odio dui.
        </p>
        <p>
          <a class="btn" href="#">View details »</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>
          Arduino
        </h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
          tellus
          ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
          justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
          Donec sed odio dui.
        </p>
        <p>
          <a class="btn" href="#">View details »</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img alt="Bootstrap Image Preview"
             src="//www.python.pro.br/static/assets/images/instructors/instructor-luciano-ramalho.png">
      </div>
      <div class="col-md-8">
        <h3>
          h3. Lorem ipsum dolor sit amet.
        </h3>
        <p>
          Lorem ipsum dolor sit amet, <strong>consectetur adipiscing
          elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna.
          In
          hac habitasse platea dictumst. Phasellus eu sem sapien, sed
          vestibulum
          velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor.
          Sed
          iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id
          sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc
          consequat lectus, id bibendum diam velit et dui.</em> Proin massa
          magna, vulputate nec bibendum nec, posuere nec lacus.
          <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit.
            Nulla euismod ultrices massa, et feugiat ipsum consequat eu.
          </small>
        </p>
      </div>
    </div>
  </div>
{% endblock content %}